html {
  background-size: cover;
  font-family: "helvetica neue";
  text-align: center;
  font-size: 10px;
  background-color: black;
  color: rgba(0, 255, 255, 0.856);
}

body {
  margin: 0;
  font-size: 1.75rem;
  display: flexbox;
  min-height: 100vh;
  align-items: center;
}

nav {
  display: inline-block;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 1.5rem;
  text-shadow: 1px;
  border: 5px dotted rgba(0, 255, 255, 0.856);
  color: rgba(0, 255, 255, 0.856);
}

h1 {
  font-size: 3.75rem;
  text-decoration: underline;
}

h5 {
  font-size: 1rem;
}

.heading {
  justify-content: center;
  align-items: center;
  display: flexbox;
  color: rgba(0, 255, 255, 0.856);
  text-decoration: underline;
}

.sub-heading {
  justify-content: spread;
  display: flexbox;
  text-align: center;
  color: rgba(0, 255, 255, 0.856);
  font-size: 2rem;
  align-items: center;
}

#txt {
  color: rgba;
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1rem 0 0;
}

a {
  color: rgba(0, 255, 255, 0.856);
}

a:visited {
  color: rgba(255, 255, 0, 0.842);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

textarea,
#track-event {
  background-color: rgba(187, 194, 233, 0.932);
  text-align: center;
}

fieldset {
  border: 0;
}

.logo {
  width: 20%;
  height: 20%;
}
