:root {
  --base-color1: #81b00b;
  --base-color2: #ecf2f1;
  --base-color3: #e08b75;
  --base-color4: rgb(36, 100, 160);
  --base-color5: #627099;
}

html {
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 2vh;
  font-family: Sans-Serif;
  text-align: center;
  align-items: center;
  font-size: 10px;
  background-color: var(--base-color2);
}

body {
  background-color: var(--base-color4);
  font-size: 1.5rem;
  display: flexbox;
  min-height: 70vh;
  align-items: center;
}

nav {
  display: inline-block;
  justify-content: space-between;
  font-size: 3rem;
  padding: 1.5rem;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}

h1 {
  font-size: 2.5rem;
  margin-top: 2px;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}

img {
  max-width: 20vw;
}

.heading {
  justify-content: center;
  align-items: center;
  display: flexbox;
  color: var(--base-color2);
}

.sub-heading {
  padding: 1vw;
  justify-content: spread;
  display: flexbox;
  text-align: center;
  color: var(--base-color2);
  font-size: 2rem;
  margin-left: 10vw;
  margin-right: 10vw;
  background-color: var(--base-color1);
}

#txt {
  padding: 1vw;
  justify-content: spread;
  display: flexbox;
  text-align: center;
  color: var(--base-color2);
  font-size: 2rem;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}

a {
  color: var(--base-color1);
}

a:visited {
  color: var(--base-color1);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--base-color2);
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.logo {
  display: flexbox;
  margin: auto;
  width: 20%;
  border: 2px #e08b75 solid;
  border-style: groove;
  align-items: center;
}
