:root {
  --base-color1: #f3ff4ade;
  --base-color2: #ecf2f1;
  --base-color3: #e08b75;
  --base-color4: #2464a0;
  --base-color5: #627099;
}

html {
  font-size: 16px;
  font-family: Sans-Serif;
  text-align: center;
  align-items: center;
  background-color: var(--base-color4);
}

body {
  display: flexbox;
  align-items: center;
}

nav {
  color: var(--base-color2);
  display: flexbox;
  font-size: 2rem;
  padding: 1.5rem;
}

h1 {
  font-size: 2rem;
  margin-top: 2px;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}

#nolanPhoto {
  padding-left: 2vw;
  max-width: 20vw;
}

.heading {
  justify-content: center;
  align-items: center;
  display: flexbox;
  color: var(--base-color2);
}

.sub-heading {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 5vw;
  text-align: center;
  color: var(--base-color2);
  font-size: 2rem;
}

.homeLinks {
  font-size: 1.5rem;
}

#txt {
  padding: 1vw;
  justify-content: spread;
  display: flexbox;
  text-align: center;
  color: var(--base-color2);
  font-size: 2rem;
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
}

a {
  color: var(--base-color1);
}

a:visited {
  color: var(--base-color1);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--base-color2);
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.logo {
  display: flexbox;
  margin: auto;
  width: 20%;
  border: 2px var(--base-color4) solid;
  border-style: groove;
  align-items: center;
}

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}
