:root {
  --base-color1: #f3ff4ade;
  --base-color2: #ecf2f1;
  --base-color3: #e08b75;
  --base-color4: rgb(36, 100, 160);
  --base-color5: #627099;
}

html {
  background-size: cover;
  font-family: Sans-Serif;
  text-align: center;
  font-size: 10px;
  background-color: rgb(36, 100, 160);
  color: light;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  justify-content: center;
}

img {
  height: 145px;
  width: 100px;
  display: flex;
  justify-content: center;
}

h3 {
  color: lightsteelblue;
}

nav {
  display: inline-block;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 1.5rem;
  text-shadow: 1px;
  color: lightsteelblue;
}

a {
  color: var(--base-color1);
}

a:visited {
  color: var(--base-color1);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--base-color2);
  text-shadow: 5px 1px 2px var(--base-color5), 0 0 1em var(--base-color3),
    0 0 2px var(--base-color2);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
